@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap');

html {
  scroll-behavior: smooth;
}

/* Customizing scrollbar */
/* ::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background-color: rgb(25, 31, 48);
}

::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 1rem;
} */

/* Animation - only on load */
/* section {
  animation: loading 800ms ease-in-out;
}

@keyframes loading {
  from {
    opacity: 0.2;
    transform: scale(0.4);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
} */

/* To support the scrollbar styling on firefox browser as well */
/* @supports (scrollbar-color: rgb(170, 170, 170) rgb(25, 31, 48) ) {
  * {
    scrollbar-color: rgb(170, 170, 170) rgb(25, 31, 48);
    scrollbar-width: auto;
  }
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
